/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
     overflow-x: hidden !important;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden !important;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
.full {
     float: left;
     width: 100%;
}

.padding_0{
    padding: 0px;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner.jpg);
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-image: url(../images/new-header-bg.png);
    background-color: transparent !important;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px 60px 17px 70px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    color: #acabab;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: maroon;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: maroon;
}
.logo{ 
    width: 25%;
    float: left;
}

.mr-auto, .mx-auto {
    margin-right: initial!important;
}
.search_icon {
    width: 100%;
    float: left;
    padding-left: 40px;
}
/* header section end */

/* banner section start */

.banner_section {
    padding-top: 40px;
    padding-bottom: 70px;
    border-bottom: 80px solid #800000;
}
.banner_main {
    width: 44%;
    float: left;
    background: #fff;
    padding: 40px;
    opacity: 0.7;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 48px;
    color: #800000;
    font-weight: bold;
}
.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #800000;
    margin: 0px;
}
.btn_main {
    width: 100%;
    display: flex;
    padding-top: 40px;
}
.contact_bt {
    width: 170px;
    float: left;
}
.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #060707;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}
.contact_bt a:hover {
    color: #ffffff;
    background-color: #800000;
}
.contact_bt.active a {
    color: #ffffff;
    background-color: #800000;
}
.readmore_bt {
    width: 170px;
    float: left;
    margin-left: 20px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #060707;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}
.readmore_bt a:hover {
    color: #ffffff;
    background-color: #800000;
}

.carousel-indicators {
    bottom: -120px;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #ffffff;
}

.carousel-indicators .active {
    background-color: rgb(5, 44, 102);
}

/* banner section end */

/* about section start */

.about_section .row {
     -webkit-box-align: center;
        -moz-box-align: center;
         -ms-flex-align: center;
             align-items: center;
   }
   
   .about_section .img-box img {
     width: 100%;
     border-radius: 15px;
   }
   
   .about_section .detail-box p {
     margin-top: 15px;
   }
   
   .about_section .detail-box a {
     display: inline-block;
     padding: 10px 45px;
     background-color: #08135c;
     color: #ffffff;
     border-radius: 5px;
     -webkit-transition: all .3s;
     -o-transition: all .3s;
     -moz-transition: all .3s;
     transition: all .3s;
     border: 1px solid #08135c;
     outline: none;
     margin-top: 15px;
   }
   
   .about_section .detail-box a:hover {
     background-color: transparent;
     color: #08135c;
   }
   
   
/* about section start */
.about_section {
     width: 100%;
     float: left;
     padding-bottom: 90px;
 }
 .about_section_2 {
     width: 100%;
     float: left;
     padding-top: 70px;
     padding-bottom: 90px;
 }
 .about_image {
     width: 100%;
     float: left;
     padding-left: 22px;
     padding-top: 37px;
 }
 .about_image::after {
     content: '';
     position: absolute;
     width: 100px;
     height: 390px;
     background-color: #13a25d;
     left: 0px;
     right: initial;
     top: 0;
     z-index: -1;
 }
 
 .about_taital {
     width: 35%;
     float: left;
     font-size: 40px;
     color: #0f0f0f;
     font-weight: bold;
     font-family: 'Roboto', sans-serif;
 }
 .about_taital::after {
     content: '';
     position: absolute;
     width: 193px;
     height: 2px;
     background-color: #252525;
     left: initial;
     right: 0px;
     top: 44%;
     z-index: -1;
 }
 .about_text {
     width: 100%;
     float: left;
     font-size: 16px;
     color: #0f0f0f;
     margin: 0px;
     font-weight: 500;
     font-family: 'Roboto', sans-serif;
 }
 .lorem_text {
     width: 100%;
     float: left;
     font-size: 16px;
     color: #0f0f0f;
     margin: 0px;
     font-family: 'Roboto', sans-serif;
 }
 .about_taital_main {
     width: 100%;
     float: left;
     padding-top: 172px;
 }
 .read_bt {
     width: 170px;
     float: right;
     padding-top: 64px;
 }
 .read_bt a {
     width: 100%;
     float: left;
     font-size: 16px;
     color: #ffffff;
     background-color: #181818;
     text-align: center;
     padding: 10px 0px;
     font-family: 'Roboto', sans-serif;
 }
 .read_bt a:hover {
     color: #ffffff;
     background-color: #13a25d;
 }
 
 /* about section end */

 /*Services start*/

 .service-item div {
     z-index: 1;
 }
 
 .service-item div::after {
     position: absolute;
     content: "";
     width: 0;
     height: 100%;
     top: 0;
     left: 0;
     border-radius: 2px 2px 0 0;
     transition: .5s;
     z-index: -1;
 }
 
 .service-item div:hover::after {
     width: 100%;
     background: var(--primary);
 }
 
 .service-item * {
     transition: .5s;
 }
 
 .service-item:hover * {
     color: var(--light) !important;
 }
 /* services end*/
 /* Info section*/
.info_section {
  background-color: maroon;
  color: #ffffff;
  padding: 65px 0 45px 0;
}

.info_section h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.info_section .info_links ul {
  padding-left: 15px;
}

.info_section .info_links ul .active::before {
  background-color: #e41a2b;
}

.info_section .info_links ul li {
  list-style-type: none;
  position: relative;
}

.info_section .info_links ul li::before {
  content: "";
  left: -15px;
  top: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.info_section .info_links ul li a {
  color: #ffffff;
}

.info_section .info_links ul li:hover::before {
  background-color: #e41a2b;
}

.info_section .info_form input {
  width: 100%;
  border: none;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 15px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;
}

.info_section .info_form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #e41a2b;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border: 1px solid #e41a2b;
  outline: none;
}

.info_section .info_form button:hover {
  background-color: transparent;
  color: #e41a2b;
}

.info_section .info_social .social_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_social .social_container a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 5px;
  color: #1a1c78;
  font-size: 16px;
}

.info_section .info_social .social_container a:hover {
  color: #e41a2b;
}
 /*end info section*/
 .featured-column .text-center .rte-setting { max-width:320px; margin:0 auto 20px; }
 .categories-item .rte-setting { margin-bottom:20px; }
 .categories-item .rte-setting { margin-bottom:20px; }

 .page-template .addressFooter { font-size:14px; list-style:none; }
.page-template #page-content .addressFooter .icon { color:#000 !important; font-size:18px; }
.page-template .addressFooter li p { padding-left:30px; }
 .page-template .addressFooter { font-size:14px; list-style:none; }
.page-template #page-content .addressFooter .icon { color:#000 !important; font-size:18px; }
.page-template .addressFooter li p { padding-left:30px; }
.home12-category .footer-5 .addressFooter .icon { margin-top:4px; }
.home13-auto-parts .footer-2 .site-footer .addressFooter .icon { color:#ffffff !important; }
.home14-bags .footer-2 .site-footer .addressFooter .icon { color:#ffffff !important; }
.footer-4 .addressFooter .icon { color:#000 !important; }
.footer-5 .addressFooter .icon { color:#000 !important; }
.addressFooter .icon { color:#ffffff !important; float:left; font-size:14px; margin-top:2px; }
.addressFooter li { padding-bottom:12px; }
.addressFooter li p { padding-left:25px; }

.top-header .phone-no, .top-header .welcome-msg { display:inline; }
.top-header .phone-no .anm { vertical-align:middle; }
.top-header .phone-no a:hover { text-decoration:none; }